/* .tab:hover:not(:focus) {
    background-color: theme('colors.inc-green');
} */

.tab:focus {
    background-color: theme('colors.inc-green');
}

.tab:hover {
    color: theme('colors.inc-green');
}


.tab:focus:not(:hover) {
    color: black;
    border: none;
}

.tab-2:hover {
    color: theme('colors.inc-light-blue');
    border: none;
}

.tab-2:focus {
    background-color: theme('colors.inc-light-blue');
}

.tab-2:focus:not(:hover) {
    color: black;
    border: none;
}

.principal-tabs .react-tabs__tab--selected {
    background-color: theme('colors.inc-green');
    color: black;
    border: none;
}

.secondary-tabs .react-tabs__tab--selected {
    background-color: theme('colors.inc-light-blue');
    color: black;
    border: none;
}