@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.layout-container nav {
    display: none;
}

.layout-container {
    padding: 10px;
    margin: 0 !important;
    background-color: theme('colors.inc-light-blue');
    font-family: 'Inter', sans-serif;
}

.layout-container-2 {
    width: 100% !important;
}

.children-div {
    margin: 0 !important;
    width: 100%;
}

.newProductFormModal, .newSectionFormModal {
    font-family: 'Inter', sans-serif;
}
