.sections-container,
.categories-container,
.products-container .editor-container {
    height: 70vh;
}

.tab:hover {
    color: theme('colors.inc-light-blue');
    border: none;
}

.principal-tabs .react-tabs__tab--selected {
    background-color: theme('colors.inc-light-blue');
    color: white;
    border: none;
}