@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.inc-light-blue');
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  user-select: none;
  /* Standard */
}